* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(15, 6, 23);
  color: white;
}

/* Container for full-height layout */

.container {
  min-height: 100%;
  height: 100%;
}

/* Color styles */
#A-color {
  color: #ffd700;
  font-family: "Bodoni Moda SC", serif;
}

#Z-color {
  color: #ff4500;
  font-family: "Bodoni Moda SC", serif;
}

/* Header and logo styles */
.header {
  display: flex;
  justify-content: center;
}

.logo a {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
}

/* Search bar styles */
.search-container {
  position: relative;
  max-width: 550px;
  width: 100%;
}

#search-bar {
  width: 100%;
  margin-top: 25px;
  margin-left: -7%;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 16px;
  color: white;
}

#search-bar:hover {
  border: 1px solid #ccc;
  transition: all 0.8s linear;
}

.search-container i {
  position: absolute;
  top: 40px;
  left: -30px;
  font-size: 15px;
}

submit {
  position: absolute;
  left: 510px;
  background-color: rgb(15, 6, 23);
  border: none;
}

/* Button styles */

.buy-plan-btn {
  border: 1px solid rgb(130, 48, 198);
  background-color: rgb(130, 48, 198);
  border-radius: 4px;
  max-width: 8rem;
  position: absolute;
  top: 30px;
  left: 1050px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

.buy-plan-btn > i {
  background: transparent;
  padding: 10px 6px;
}

.buy-plan-btn:hover {
  transition: all 0.1s linear;
  background-color: rgb(130, 48, 198, 0.5);
}

.btn_one {
  position: absolute;
  left: 1300px;
  top: 30px;
  background: transparent;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
}

#check {
  position: absolute;
  left: 1135px;
  top: 20px;
  display: none;
}

.logo-two {
  position: absolute;
  left: 570px;
  top: 30px;
  background-color: transparent;
  cursor: pointer;
}

/* Sidebar menu styles */
.sidebar_menu .btn_two i {
  position: absolute;
  font-size: 25px;
  line-height: 60px;
  right: 20px;
  top: 20px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
}

.sidebar_menu {
  width: 1800px;
  min-height: 100%;
  height: 300vh;
  position: fixed;
  background-color: rgb(15, 6, 23);
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.5);
  left: -1800px;
  width: 100%;
  transition: all 2s linear;
  z-index: 1;
}

.sidebar_menu .logo-two a {
  position: absolute;
  left: 0%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#check:checked ~ .sidebar_menu {
  left: 0;
}

#check:checked ~ .btn_one i {
  opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
  opacity: 1;
}

/* Login and signup button styles */
.login-signup {
  position: absolute;
  top: 7%;
  z-index: 1;
  background-color: rgb(29, 21, 37);
  max-width: 100%;
  width: 1300px;
  padding: 15px 20px;
  text-align: center;
}

.login {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 30px;
  margin-left: -0%;
  font-size: 16px;
}

.login:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.signup {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 5px;
  border: 1px solid rgb(130, 48, 198);
  background-color: rgb(130, 48, 198);
  font-size: 16px;
  margin-left: 0px;
}

.signup:hover {
  background-color: rgb(130, 48, 198, 0.3);
  color: rgb(255, 255, 255);
}

/* Navbar styles */
.navbar {
  position: absolute;
  top: 5%;
  left: 3%;
  height: 100vh;
  width: 90vw;
  min-width: 1100px;
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  margin-left: 50px;
  display: block;
  padding-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.navbar ul li a:hover {
  color: goldenrod;
}
.navbar ul li a:after {
  content: "";
  position: absolute;
  background-color: rgb(130, 48, 198);
  height: 3px;
  width: 0;
  left: 0;
  top: 22px;
}

.navbar ul li a:hover:after {
  width: 75%;
  transition: all 0.5s linear;
}

/* Sidebar navigation bar styles */

.side-nav-bar {
  position: absolute;
  top: 13%;
  left: 70px;
}

.side-nav-bar ul li {
  list-style: none;
}

.side-nav-bar ul li a {
  font-size: 15px;
  font-weight: bold;
}

#home {
  border: 1px solid rgba(76, 60, 92, 0.41);
  padding: 10px;
  border-radius: 5px;
}

#home a {
  text-decoration: none;
  background-color: transparent;
}

#home:hover {
  background-color: rgba(76, 60, 92, 0.41);
}

/* Dropdown styles */
.dropdown-1 {
  margin-top: 10px;
  width: 1180px;
  padding: 5px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgba(76, 60, 92, 0.41);
  position: relative;
  display: inline-block;
}
.icon-place-1 {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  color: #ccc;
}
#downicon-1 {
  margin-top: 12px;
  margin-left: 25px;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-button-1 {
  background-color: transparent;
  width: 1130px;
  border: none;
  padding: 10px;
  padding-left: 2px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
}

#Explore {
  display: flex;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
  left: -1px;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0.2;
  width: 100%;
  z-index: 1;
  margin-top: 2px;
  border: 1px solid rgba(76, 60, 92, 0.41);
  border-top: none;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dropdown-content-1 a {
  padding-left: 8px;
  letter-spacing: 0.2px;
  padding: 10px;
}

#anchor-font {
  font-size: 14px;
  text-decoration: none;
}
#anchor-font:hover {
  background-color: #938b8b2a;
}

.dropdown-2 {
  margin-top: 10px;
  width: 1180px;
  padding: 5px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgba(76, 60, 92, 0.41);
  position: relative;
  display: inline-block;
}
#Plan {
  display: flex;
}
.icon-place-2 {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  color: #ccc;
}
.dropdown-button-2 {
  background-color: transparent;
  width: 1130px;
  border: none;
  padding: 10px;
  padding-left: 2px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
}
.dropdown-content-2 {
  display: none;
  position: absolute;
  left: -1px;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0.2;
  width: 100%;
  z-index: 1;
  margin-top: 2px;
  border: 1px solid rgba(76, 60, 92, 0.41);
  border-top: none;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dropdown-content-2 a {
  padding-left: 8px;
  letter-spacing: 0.2px;
  padding: 10px;
}
#downicon-2 {
  margin-top: 12px;
  margin-left: 25px;
  cursor: pointer;
  background-color: transparent;
}
#Setting {
  display: flex;
  margin-top: 5px;
}
#Info {
  display: flex;
  margin-top: 5px;
}
.sidebar-footer {
  margin-top: 15px;
  text-align: center;
}
.sidebar-footer p {
  font-size: 14px;
  letter-spacing: 1px;
}

.slider {
  margin: auto;
  margin-top: 9%;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.list {
  display: flex;
  transition: transform 1s linear;
  width: 100%;
}

.items {
  position: relative;
  flex: 0 0 auto;
}

.items img {
  width: 1300px;
  height: 450px;
  margin-left: 5%;
  max-width: 100%;
}

.items h1 {
  position: absolute;
  bottom: 110px;
  left: 8%;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 25px;
}

.buy-plan-btn-items {
  border: 1px solid rgb(130, 48, 198);
  background-color: rgb(130, 48, 198);
  border-radius: 7px;
  max-width: 6rem;
  position: absolute;
  bottom: 61px;
  left: 20%;
  text-align: center;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

.buy-plan-btn-items > i {
  background: transparent;
  padding: 10px 6px;
}

.buy-plan-btn-items:hover {
  transition: all 0.1s linear;
  background-color: rgb(57, 14, 89);
}

.watch-items {
  position: absolute;
  bottom: 60px;
  left: 9%;
  max-width: 8rem;
  background-color: rgba(12, 12, 12, 0.4);
  border-radius: 8px;
  font-size: 15px;
}
.watch-items:hover {
  background-color: #ffffff;
  transition: all 1s;
}
.Watch {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  max-width: 8rem;
}
.watch-items button:hover {
  color: #111;
}
.watch-items .Watch a {
  background-color: transparent;
}

.watch-items .Watch i {
  background-color: transparent;
  margin-right: 10px;
}
/* button i:hover{
  color: #111;
} */

.watch-items .Watch:hover i {
  color: #111;
}
.button-slide {
  position: absolute;
  bottom: 200px;
  left: 51%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.button-slide button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.554);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  font-weight: 900;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background-color: transparent;
  transform: translateX(-50%); /* Center correctly */
  display: flex;
  gap: 10px;
}

.dots li {
  list-style: none;
  width: 14px;
  height: 14px;
  margin: 10px;
  border-radius: 20px; /* Rounded dots */
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: all 0.5s linear;
}

.dots li.active {
  height: 10px;
  width: 30px;
  background-color: rgb(116, 22, 192);
}

